html
    head
        title Admin Panel
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    body 
        .container
            .row
                .col-lg-6.col-md-6.col-sm-12

                .col-lg-6.col-md-6.col-sm-12
                    table.table
                        thead.thead-dark
                            tr
                                th(scope='col') #
                                th(scope='col') First
                                th(scope='col') Last
                                th(scope='col') Handle
                        tbody
                            tr
                                th(scope='row') 1
                                td Mark
                                td Otto
                                td @mdo
                            tr
                                th(scope='row') 2
                                td Jacob
                                td Thornton
                                td @fat
                            tr
                                th(scope='row') 3
                                td Larry
                                td the Bird
                                td @twitter
                        table.table
                            thead.thead-light
                                tr
                                    th(scope='col') #
                                    th(scope='col') First
                                    th(scope='col') Last
                                    th(scope='col') Handle
                            tbody
                                tr
                                    th(scope='row') 1
                                    td Mark
                                    td Otto
                                    td @mdo

